.services_bg{
    background-color: aliceblue;
}
.services_container{
    padding: 2rem 0 3rem 0;
}
.services_container h2{
    padding-top: 2rem;

    text-align: center;
    font-weight: 500px;
}
.services_container p{
    text-align: center;
}
.services_container h3{
    margin: 2rem 0 1rem 0;
    text-align: center;
    font-weight: 500px;
}
article{
    display: grid;
    grid-template-columns: repeat(3,30%);
    gap: 2%;
    overflow: hidden;
}
.service{
    border: 1px solid rgb(194, 196, 198);
}
.service img{
    padding: 0.6rem;
 width: 100%;
 height: 14rem ;

}
.service  h3{
   margin-top: 0.1rem;
   margin-bottom: 0.5rem;
}
.service p{
    margin: 5px 5px 10px 5px;
    font-size: 13px;
    text-align:center;
}

@media screen and (max-width:1024px) {
    
}

@media screen and (max-width:600px) {
    article{
        display: grid;
        grid-template-columns: 1fr;
        gap: 0%;
        overflow: hidden;
    }
    .service{
        margin-bottom:15px ;
    }
  
  }
