.header_bg{
    background-image: url(../../assets/night-view.jpg);
height: 510px;
    width: 100%;
 
}
.header_container{
   
    overflow: hidden;
    margin: 12% auto;
    width: fit-content;
    text-align: center;
    color: aliceblue;

}

@media screen and (max-width:1024px) {
    
    }
    
    @media screen and (max-width:600px) {
      .header_bg{
        height: 450px;
      }
      .header_container{
        margin: 30% auto;
      }
      
      }
  